/*
 * Copyright (c) 2025 The ZMK Contributors
 * SPDX-License-Identifier: MIT
 */

/ {
    zip_matrix: input_processor_matrix {
        compatible = "zmk,input-processor-matrix";
        #input-processor-cells = <0>;

        rows = <1>;
        cols = <1>;
        timeout-ms = <100>;
        cooldown-ms = <100>;
        flick-threshold = <300>;
        x-min = <0>;
        x-max = <1024>;
        y-min = <0>;
        y-max = <1024>;
        // suppress-pointer;  /* Consume ABS events (disable cursor movement) */
        // suppress-key;      /* Consume KEY events (disable BTN_TOUCH clicks) */
    };
};
