/*
 * Copyright (c) 2026 amgskobo
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp N0 &kp N1
                &kp UP &kp UP
                &kp DOWN &kp DOWN
                &kp LEFT &kp LEFT
                &kp RIGHT &kp RIGHT
            >;
        };
    };
};
